<p id="notice"><%= notice %></p>
<div class="source-index-content">
  <div class="columns source-index-cols">
    <div class="column is-9">
      <div class="link-panel">
        <a href="#" class='active'>Sources</a>
        <a href="#">Most Recent</a>
        <a href="#">Most Upvotes</a>        
      </div>
      <div class="card source-index-new">
          <p>Share Source</p>
          <%= render('form') %>        
      </div>
      <div class="card source-index-list">
        <h5 class='new-source-count'>6 New Sources</h5>      
        <% @sources.each do |source| %>            
          <div class='source-item'>
            <div class="columns">
              <div class="column is-1">
              <figure class='image is-48x48'>
                <%= image_tag 'profile.png', class: 'is-roundish' %>
              </figure>
              </div>
              <div class="column">
                <h4 class='source-author'>
                  <%= link_to source.author.full_name.capitalize, user_path(source.author) %>
                </h4>
                <div>              
                  <p><%= source.text %></p>
                </div>
                <div>
                <!-- TO-HELPER -->
                <% if current_user and source.author.id == current_user.id %>
                  <%= link_to 'Show', source %>
                  <%= link_to 'Edit', edit_source_path(source) %>
                  <%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' } %>      
                <% end %>
                </div>
              </div>
            </div>
          </div>         
        <% end %>      
      </div>
    </div>
    <div class="column">
      <div class="who-to-follow"> 
        <h3>Who to follow</h3>
        <% @users.each do |user| %>
          <% unless user.followers.include?(current_user) %>
            <div class='follow-item'>
              <div class="columns">
                <div class="column is-3">
                  <figure class='image is-48x48'>
                    <%= image_tag 'profile.png', class: 'is-rounded' %>
                  </figure>                  
                </div>
                <div class="column">
                  <h4><%= link_to user.full_name, user_path(user) %></h4>                                
                    <%= link_to 'Follow', followings_follow_path(follower_id: current_user.id, followed_id: user.id), method: :post, class: 'follow-link' %>                
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



