<h2>Users</h2>

<p><%= Following.all.to_a %></p>

<%= link_to 'Create New User', new_user_path %>

<br>
<br>

<% @users.each do |user| %>
  <br>
  <br>

  <%= user.username %>  
  <p>following<p>
  <%= user.followeds.any? ? user.followeds.all.to_a : 'not following anyboy' %>
  <p>followed by<p>
  <%= user.followers.any? ? user.followers.all.to_a : 'no followers' %>
  <br>
  <p>current: <%= current_user.id %></p>
  <p>usr_id: <%= user.id %></p>
  <br>
  <%= button_to 'Follow', followings_follow_path(current_user.id, user.id), method: :post %>
  <%= link_to 'Edit', edit_user_path(user) %>
<% end %>


