<% @current_page = 'Tweet at' %>

<div class='user-show-content'>
    <div class="columns">
      <div class="column is-9">
        <div class="cover-photo" style="background-image: url(<%= asset_path 'cover.jpg' %>)">

        </div>
        <div class="card">
          <%= render('sources/form') %>
        </div>
        <div class="card">
          <div class="source-list">     
            <h5>All Sources by @<%= @user.username %></h5>     

          <% @user.sources.each do |s| %>
          <div class="user-source-item">
            <div class="columns">
              <div class="column is-1">
                <figure class='image is-48x48'>
                  <%= image_tag 'profile.png', class:'is-roundish' %>
                </figure>
              </div>
              <div class="column">
                  <h4><%= @user.full_name %></h4>
                  <p><%= s.text %></p>
              </div>
            </div>
          </div>
          <% end %>
          </div><!-- source-list-end -->
        </div>
      </div>
      <div class="column user-col">
        <div class="user-detail">  
          <%= follow_img?(@following, @user) %>         
          <figure class='image is-96x96'>
            <%= image_tag 'profile.png', class: 'is-rounded' %>
          </figure>
          <h4><%= @user.full_name %></h4>
          <span>@<%= @user.username %></span>
        </div>
        <div class="user-stats">
          <div class="columns">
            <div class="column is-one-third">
              <strong><%= @user.sources.count %></strong>
              <span>sources</span>
            </div>
            <div class="column is-one-third">
              <strong><%= @user.followeds.count %></strong>
              <span>following</span>
            </div>
            <div class="column is-one-third">              
              <strong><%= @user.followers.count %></strong>
              <span>followers</span>
            </div>
          </div>
        </div>
        <div class="user-followers">
          <h5>followed by</h5>
          <% @user.followers.each do |follow| %>
            <div class="follower-item">
              <div class="columns">
                <div class="column is-2">
                  <figure class='image is-32x32'>
                    <%= image_tag 'profile.png', class: 'is-rounded' %>
                  </figure>
                </div>
                <div class="column">
                  <strong><%= link_to follow.full_name, user_path(follow) %></strong>
                  <span>@<%= follow.username %></span>
                  <%= follow?(@following, follow) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>   
</div>

